
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                <div class="form-field">
                    <label>First Name<i class="star">*</i></label>
                    <input [style.border]="submitted && f.firstName.errors?'1px solid red':'none'"  type="text" formControlName="firstName" class="form-control field-input" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="formerror">
                        <div *ngIf="f.firstName.errors.required">Required</div>
                        <div *ngIf="f.firstName.errors.pattern">Enter letters and space only</div>
                    </div>
                </div>
                <div class="form-field">
                    <label>Last Name<i class="star">*</i></label>
                    <input [style.border]="submitted && f.lastName.errors?'1px solid red':'none'" type="text" formControlName="lastName" class="form-control" placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="formerror">
                        <div *ngIf="f.lastName.errors.required">Required</div>
                        <div *ngIf="f.lastName.errors.pattern">Enter letters and space only</div>
                    </div>
                </div>
            <div class="form-field">
                <label>Email<i class="star">*</i></label>
                <input [style.border]="submitted && f.email.errors?'1px solid red':'none'"  type="text" formControlName="email" class="form-control" placeholder="Enter Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="formerror">
                    <div *ngIf="f.email.errors.required">Required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-field">
                <label>Job Title<i class="star">*</i></label>
                <input [style.border]="submitted && f.jobTitle.errors?'1px solid red':'none'"  type="text" formControlName="jobTitle" class="form-control" placeholder="Enter Job Title" [ngClass]="{ 'is-invalid': submitted && f.jobTitle.errors }" />
                <div *ngIf="submitted && f.jobTitle.errors" class="formerror">
                    <div *ngIf="f.jobTitle.errors.required">Required</div>
                    <div *ngIf="f.jobTitle.errors.pattern">Enter letters and space only</div>
                </div>
            </div>
            <div class="form-field">
                <label>Office<i class="star">*</i></label>
                <input [style.border]="submitted && f.office.errors?'1px solid red':'none'" type="text" formControlName="office" class="form-control" placeholder="Enter Office" [ngClass]="{ 'is-invalid': submitted && f.office.errors }" />
                <div *ngIf="submitted && f.office.errors" class="formerror">
                    <div *ngIf="f.office.errors.required">Required</div>
                    <div *ngIf="f.office.errors.pattern">Enter letters and space only</div>
                </div>
            </div>
            <div class="form-field">
                <label>Department<i class="star">*</i></label>
                <input [style.border]="submitted && f.department.errors?'1px solid red':'none'" type="text" formControlName="department" class="form-control" placeholder="Enter Department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
                <div *ngIf="submitted && f.department.errors" class="formerror">
                    <div *ngIf="f.department.errors.required">Required</div>
                    <div *ngIf="f.department.errors.pattern">Enter letters and space only</div>
                </div>
            </div>
            <div class="form-field">
                <label>Phone<i class="star">*</i></label>
                <input [style.border]="submitted && f.phone.errors?'1px solid red':'none'" type="text" formControlName="phone" class="form-control" placeholder="Enter Phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                <div *ngIf="submitted && f.phone.errors" class="formerror">
                    <div *ngIf="f.phone.errors.required">Required</div>
                    <div *ngIf="f.phone.errors.pattern">Phone must be a valid 10 digit number</div>
                </div>
            </div>
            <div class="form-field">
                <label>Skype ID<i class="star">*</i></label>
                <input [style.border]="submitted && f.skype.errors?'1px solid red':'none'" type="text" formControlName="skype" class="form-control" placeholder="Enter Skype Id" [ngClass]="{ 'is-invalid': submitted && f.skype.errors }" />
                <div *ngIf="submitted && f.skype.errors" class="formerror">
                    <div *ngIf="f.skype.errors.required">Required</div>
                    <div *ngIf="f.skype.errors.email">Skype Id must be a valid email address</div>
                </div>
            </div>
            <div class="form-field">
                <button class="form-button" type="reset" (click)="onReset()">Cancel</button>
                <button class="form-button text-right" >Update</button>
            </div>
        </form>